{% extends 'shorty/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container-sm" style="max-width: 500px;">
    <form action="/login" method="POST">
        {% csrf_token %}

        <legend class="border-bottom mb-4">Log In</legend>

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Login</button>

        <div class="border-top pt-3 mt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'signup' %}"> Signup </a>
            </small>
        </div>
    </form>
</div>

{% endblock %}