{% extends 'shorty/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-sm" style="max-width: 500px;">
    <form action="/signup" method="POST">
        {% csrf_token %}

        <legend class="border-bottom mb-4">Sign Up to Join Us!</legend>
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Register</button>

        <div class="border-top pt-3 mt-3">
            <small class="text-muted">
                Already have account? <a href="{% url 'login' %}"> Login </a>
            </small>
        </div>
    </form>
</div>

{% endblock %}